doctype html
html(xmlns='http://www.w3.org/1999/xhtml')

  include head.pug
  body
    include nav.pug
    header
      h1  Gulp Starter stack
    main.container.calc
        block content
    app
    include scripts.pug
