/* ==============================variables=================================== */
/**
 * Custom Variables
 */

//CUSTOM VARS HERE

/**
 * font-awesome
 */
$fa-font-path: '../../node_modules/font-awesome/fonts/';
@import '../../../../node_modules/font-awesome/scss/font-awesome';

/**
 * Bootstrap Variables override
 */
$border-radius: 0;
$border-radius-lg: 0;
$border-radius-sm: 0;

$grid-gutter-width-base: 0;

$form-group-margin-bottom: 0;
